
.App {
  text-align: center;
}

  .container{
    display: flex;
    flex-wrap: wrap;
  justify-content: space-between

  }
  .container div{
    border: solid;
    padding: 4px;
    
    border-color: rgb(122, 44, 44);
  justify-content:space-evenly;
  }
  .flex-gap{
    display: inline-flex;
    text-align: center;
    

    
}
.receipts{
  text-rendering: auto;


}